{% extends 'common_code/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block top-nav %} 
<!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Make Work Enjoyable and Stress-free</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="text-decoration-none text-dark" href="{% url 'showcart' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Cart <i class="fa-solid fa-cart-shopping"></i></h4>
                                        <h3>{{cart_count}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="text-decoration-none text-dark" href="{% url 'staff_order' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Order <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>{{order_count}}</h3>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock top-nav %}


{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="text-center">You have no product in your cart</h3>
        <div class="text-center">
            <img src="{% static 'dashboard/image/emptycart.png' %}" alt="" class="img-fluid img-thumbnail w-25">
        </div>

    </div>
</div>
{% endblock main-content %}